*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --footer-background: #23272a;
    --logo-col:#3161e0;
    --community-technology:#f6f6f6;

}
html, body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
    
}


.header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--logo-col);
    color: white;
    .header-container{
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin: 1rem 10rem;
        padding: 0.25rem;
        .logo{
            display: flex;
            flex-grow: 1;
            padding-top: 0.5rem;
            align-items: center;
        }
        nav{
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .login{
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 0.5rem;
            button{
                border-radius: 50px;
                padding: 0.5rem;
                border-style: none;
            }
        }
        a{
            text-decoration: none;
            color: white;
            margin-right: 1rem;
            &:hover{
                color: black;
                text-decoration: underline;
            }
        }
    }
}

.jumbotron{
    text-align: center;
    background-image: url(../assets/img/jumbo.png);
    height: 1000px;
    button{
        border-style: none;
        border-radius: 10px;
        padding: 0.8rem;
        margin: 0.5rem;
    }
    .open-discord{
        background-color: black;
        color: white;
    }

    .jumbotron-content{
        padding: 1rem;
        width: 100%;
        color: white;
    }
}

.invite_only{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    
    .invite_only-content{
        width: 60%; 
        margin-top: 1rem; 
        margin-bottom: 1rem;
        margin-left:10rem;      

        
    
    }
    .invite_only-secondary-content{
        width: auto;
        margin-top: 2rem; 
        margin-bottom: 1rem;
        margin-right:10rem;
     
    }
}

.community{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--community-technology);
    height: 100%;
    .community-content{
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem; 
        margin-left: 10rem;      
     

    
    }
    .community-secondary-content{
        width: 60%;
        margin-top: 1rem;  
        margin-bottom: 1rem; 
        margin-right: 10rem;      
     
    
    }
}

.fandom{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    .fandom-content{
        width: 60%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 10rem;      
      

    
    }
    .fandom-secondary-content{
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 10rem;      
      
    }
}

.technology{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--community-technology);
    height: 100%;
    .technology-content{
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 10rem;
        margin-left: 10rem;

    }
    .adventure{
        text-align: center;
        button{
            margin-top: 1rem;
        }
        h2{
            background-image: url(../assets/img/stars.svg);
        }
    }
}



.footer{
    
    background-color: var(--footer-background);
    .columns{
        display: flex;
    }
    .footer-primary-col{
        color: white;
        flex-grow: 1;
        width: 25%;
        padding-right: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 10rem;
        
        .italian{
            display: flex;
            padding: 0.5rem;
        }

    }
        
    }
    .footer-secondary-col{
        color: white;
        flex-grow: 1;
        width: 18.75%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .footer-tertiary-col{
        color: white;
        flex-grow: 1;
        width: 18.75%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .footer-quaternary-col{
        color: white;
        flex-grow: 1;
        width: 18.75%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .footer-quinary-col{
        color: white;
        flex-grow: 1;
        width: 18.75%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 10rem;
       
    }
    hr{
        background-color: gray;
    }
    ul{
        list-style: none;
    }
.logo-btn{
    display: flex;
    justify-content: space-between;
    img{
        text-align: center;
        max-width: min-content;
        margin-left: 10rem;
        
    }
    button{
        margin-right: 10rem;
        border-radius: 50px;
        padding: 0.5rem;
        border-style: none;
        background-color: #8ea1e1;
        color: white;
        
    }
}

