*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --header-container:#add8e6;
    --header:#daa520;
    --jumbotron-container: #00008b;
    --jumbotron: #ee82ee;
    --invite_only-left: #1e90ff;
    --invite_only-right:#ffc0cb;
    --community-technology: #d3d3d3;
    --technology-content: #228b22;
    --footer-background: #23272a;
    --footer-primary-col: #f08080;
    --footer-col:#20b2aa;
    --logo-col:#3161e0;

}
html, body{
    height: 100%;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    
}


.header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--logo-col);
    color: white;
    .header-container{
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin: 1rem 10rem;
        padding: 0.25rem;
        .logo{
            display: flex;
            flex-grow: 1;
            padding-top: 0.5rem;
            align-items: center;
        }
        nav{
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .login{
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 0.5rem;
            button{
                display: flex;
                align-items: center;
                border-style: none;
                border-radius: 10px;
                padding: 0.5rem;
                margin: 0.5rem;
            }
        }
        a{
            text-decoration: none;
            color: white;
            margin-right: 1rem;
            &:hover{
                color: black;
                text-decoration: underline;
            }
        }
    }
}

.jumbotron{
    display: flex;
    justify-content: center;
    background-image: url(../assets/img/jumbo.png);
    height: 100%;
    .jumbotron-content{
        padding: 1rem;
        margin: 1rem;
        width: 50%;
        color: white;
    }
}

.invite_only{
    display: flex;
    justify-content: center;
    height: 100%;
    
    .invite_only-content{
        width: 60%; 
        margin-top: 1rem; 
        margin-bottom: 1rem;
        margin-left:10rem;      

        
    
    }
    .invite_only-secondary-content{
        width: 40%;
        margin-top: 1rem; 
        margin-bottom: 1rem;
        margin-right:10rem;      
     
    }
}

.community{
    display: flex;
    justify-content: center;
    background-color: var(--community-technology);
    height: 100%;
    .community-content{
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem; 
        margin-left: 10rem;      
     

    
    }
    .community-secondary-content{
        width: 60%;
        margin-top: 1rem;  
        margin-bottom: 1rem; 
        margin-right: 10rem;      
     
    
    }
}

.fandom{
    display: flex;
    justify-content: center;
    height: 100%;
    .fandom-content{
        border-style: dotted;
        background-color: var(--invite_only-left);
        width: 60%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 10rem;      
      

    
    }
    .fandom-secondary-content{
        border-style: dotted;
        background-color: var(--invite_only-right);
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 10rem;      
      
    }
}

.technology{
    display: flex;
    justify-content: center;
    background-color: var(--community-technology);
    height: 100%;
    .technology-content{
        border-style: dotted;
        background-color: var(--technology-content);
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 10rem;
        margin-left: 10rem;

    }
}

.footer{
    background-color: var(--footer-background);
    display: flex;
    justify-content: center;
    height: 100%;
    .footer-primary-col{
        border-style: dotted;
        background-color: var(--footer-primary-col);
        flex-grow: 1;
        width: 25%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 10rem;

    }
    .footer-secondary-col{
        border-style: dotted;
        background-color: var(--footer-col);
        flex-grow: 1;
        width: 18.75%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .footer-tertiary-col{
        border-style: dotted;
        background-color: var(--footer-col);
        flex-grow: 1;
        width: 18.75%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .footer-quaternary-col{
        border-style: dotted;
        background-color: var(--footer-col);
        flex-grow: 1;
        width: 18.75%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .footer-quinary-col{
        border-style: dotted;
        background-color: var(--footer-col);
        flex-grow: 1;
        width: 18.75%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 10rem;
       
    }
}